/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

*= require_tree .
*= require_self
 */

html, body {
  height: 100%;
  width: 100%;
}
 html, body, section, article, h1, h2, h3, h6, p, strong, em, a, select, ul, li, input,a textarea, button, img {
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;

  box-sizing: inherit;
  font: inherit;
  text-align: inherit;
  text-decoration: inherit;
  color: inherit;

  background: transparent;

  font-size: 14px;
  font-weight: 300;
  font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;

  list-style-type: none;
}

h2 {
  font-size: 34px;
}

h3 {
  font-size: 18px;
}

button {
  border: 1px solid;
  border-radius: 2px;
  cursor: pointer;
  color: grey;
  text-align: center;
  font-size: 16px;
  padding: 9px 27px;
  margin: 10px 0px;
}


.form-input {
  height: 64px;
  font-size: 16px;
  padding:10px;
  border-radius: 2px;
  border: 1px solid #c4c4c4;
  margin: 10px 0px;
  width: 100%;
}

.puppy-form-input {
  height: 45px;
  font-size: 16px;
  padding:10px;
  border-radius: 2px;
  border: 1px solid #c4c4c4;
  width: 100%;
  margin: 10px 0px;
  box-sizing: border-box;
}

.login-form-button, .signup-form-button {
  width: 100%;
  height: 64px;
  color: white;
  background-color: #FF5A5F;
  margin: 10px 0px;
}

.upload-button-blank {
  width: 100%;
  height: 64px;
  color: white;
  background-color: #FF5A5F;
  margin: 10px 0px;
}

.upload-button-success {
  width: 100%;
  height: 64px;
  color: green;
  margin: 10px 0px;
}

.form {
 box-sizing: border-box;
}


header {
  display: flex;
  justify-content: space-between;
  margin: 0px 25px;
  z-index: 200;
  background-color: rgba(255, 255, 255, 0.2);}

li.errors {
  padding: 7px;
}

.map {
  width: 40%;
  height: calc(100% - 62px);
  margin-left: 10px;
}

.search {
  display: flex;
  justify-content: space-between;
  margin: 0px 25px;
  padding-top: 62px;
  height: 100%;
}

.map-picture {
  height: 150px;
  width: 150px;
}

.map-puppy-name {
  text-align: center;
}

.booking-form-container {
  width: 300px;
  top: 90%;
  right: 7%;
}



.header-group {
  display: flex;
  justify-content: space-between;
}

.header-name {
  padding: 20px;
}

.infowindow-detail {
  display: flex;
  justify-content: space-between;
}

#map-pic {
  cursor: pointer;
}

#searchTextField {
  width: 100%;
}



.upload-form {
  box-sizing: border-box;
}

.search-params {
  margin-bottom: 20px;
  width: 100%;
}

.slider {
  height: 20px;
  width: 70%;
  background-color: #ff5a5f;
  opacity: 0.5px;
  cursor: pointer;
}

.my-handle {
  z-index: 100;
  background-color: white;
  height: 30px;
  width: 32px;
  border: 1px solid lightgray;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}

#left-handle {
  margin-left: -10px;
}

#right-handle {
  margin-right: -10px;
}

.index-params {
  width: 60%;
}

.search-location-bar {
  height: 20px;
  font-size: 16px;
  padding: 10px 0px;
  width: 100%;
  margin: 10px 0px;
}

.search-bar-container {
  flex-grow: 2;
  box-sizing: border-box;
  margin: 0px 20px;
  padding: 10px 0px;
  border: 3px solid #c4x4x4;
}

.search-params li {
  padding: 10px, 0;
  display: flex;
  margin: 10px;
}

.breed-dropdown {
  border: 1px solid #ff5a5f;
}

li h3 {
  margin-right: 40px
}

.search-params h1 {
  text-align: center;
  font-size: 25px;
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  margin: 15px 0 15px 0;
}

.app {
  z-index: 300;
  background-color: rgba(255, 255, 255, 0.8);
  position: fixed;
  width: 100%;
  box-shadow: 0 -5px 20px black;
}

.landing-page-container {
  padding-top: 62px;
  height: 100%;
}

.landing-page-carousel {
  position: relative;
  height: 70%;
}

.slick-container {
  display: block;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: 500px;
  color: #333;
  background: transparent;
  overflow: hidden;
}

#content {
  height: 100%;
}

.slick-slider {
  height: 100%;
}

.slick-list {
  height: 100%;
}

.slick-track {
  height: 100%;
}

.root {
  height: 100%;
}

.landing-page-header {
  position: absolute;
  color: white;
  flex-direction: column;
  display: flex;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.landing-page-header h1{
  font-size: 7em;
  font-weight: bold;
  text-align: center;
}

.landing-page-header span {
  text-shadow: 2px 4px 3px rgba(0,0,0,0.9);

  padding: 10px 0;
  text-align: center;
}

.landing-login-button {
  color: white;
  background-color: #ff5a5f;
  padding: 15px 0;
  border: none;
}

.user-puppies {
  padding-top: 62px;
  display: flex;
  justify-content: space-between;
  height: 100%;
  margin: 0 25px;
}

.sidebar {
  width: 30%;
  background-color: white;
}

.main-content {
  width: 70%;
  background-color: whitesmoke;
  text-align: center
}

.main-content h1 {
  font-size: 35px;
  margin: 5px 0 5px 0;
  font-weight: bold;
}

.main-content hr {
  margin-bottom: 20px;
}

.user-puppies-index {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.featured-cities {
  width: 300px;
  height: 300px;
  background-repeat: 'no-repeat';
  background-size: 'cover';
  background-position: 'center';
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.cities-index {
  flex-wrap: wrap;
  display: flex;
  width: 1000px;
  margin: 0 auto;
  margin-top: 40px;
  justify-content: space-between;
}

.landing-page-features {
  height: 100%;
  text-align: center;
}

.landing-page-features h1 {
  font-weight: bold;
  font-size: 40px;
  margin: 10px 0 10px 0;
  color: grey;
}

.landing-page-features hr {
  margin: 30px auto;
  width: 75%;
}

.featured-cities-header h1 {
  font-size: 40px;
  font-weight: bold;
  color: white;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.8);
}
