/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html, body {
  height: 100%;
}
 html, body, section, article, h1, h2, h3, h6, p, strong, em, a, select, ul, li, input, textarea, button, img {
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;

  box-sizing: inherit;
  font: inherit;
  text-align: inherit;
  text-decoration: inherit;
  color: inherit;

  background: transparent;

  font-size: 14px;
  font-weight: 300;
  font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;

  list-style-type: none;
}

h2 {
  font-size: 34px;
}

button {
  border: 1px solid;
  border-radius: 2px;
  cursor: pointer;
  color: white;
  background-color: #FF5A5F;
  text-align: center;
  font-size: 16px;
  padding: 9px 27px;
  margin: 10px 10px;
}


.login-input, .signup-input {
  height: 64px;
  font-size: 16px;
  padding:10px;
  border-radius: 2px;
  border: 1px solid #c4c4c4;
  width: 358px;
  margin: 10px 10px;
}

.login-form-button, .signup-form-button {
  width: 324px;
  height: 64px;
}


.login-form-box, .signup-form-box {
  background-color: white;
}

.modal {
  width: 400px;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: flex-end;
}

li.errors {
  padding: 7px;
}
